.logo {
  max-width: 40px;
}

body {
  padding: 70px;
}

.all-campsites {
  height: 185px;
  width: 185px;
  text-align: center;
  overflow: hidden;
}

.thumbnail {
  width: 200px;
}

.campsite-profile {
  /*padding: 100px;*/
  width: 300px;
  height: 200px;
  background-image: url("/img/default.jpg");
}

#map-container {
  position: relative;
}


#map-canvas {
  height: 600px;
  width: 800px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}


#stops {
  display: inline-block;
  position: absolute;
  left: 0px;
  top:0px;
  width: 100%;
}

#stops select {
  margin: 2px 1px 0px 1px;
}

.select-waypoint {
  display: inline-block;
  position: relative;
}

.centered {
  text-align: center;
  margin: auto;
}

.centered img {
  height: 100px;
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
