<div class="about-header container-fluid">
  <h1 style="font-size: 50px; margin-top: 100px;">Camping Should Be Free</h1>
</div>
<div class="page">
  <h3><b>CampFinder</b> allows you to camp FOR FREE along a route of your choice.</h3>

<figure class="hero-content">
<p>CampFinder was developed as a solution to the problem of finding safe and affordable roadside camping. Convenient yeah. Pretty yeah. Free yeah! Making road trips more spontaneous. </p>
  <h2 class="content-heading">Leave no trace!</h2>
  <img src="img/leave-no-trace.jpg">
  <p class="pitch">
    "What!"
  </p>
</figure>

</div>
