<div class="page">

  <h3>Browse Campsites</h3>

  {{#each campsite in model}}
    {{#link-to 'campsite' campsite.id}}
      <h5>{{campsite.name}}, {{campsite.state}}: {{campsite.lat}}, {{campsite.long}}</h5>
    {{/link-to}}
  {{/each}}
</div>
